*.class
*.log
.idea
project/target/.sbt-compilation-infos/
project/target/config-classes/$00816bb6e1adf0d8c42f.cache
project/target/config-classes/$52e5c154c357bde3ba0e.cache
project/target/config-classes/$571dee791c1a6fc01442.cache
project/target/config-classes/$8a980c15f7157153cdee.cache
project/target/config-classes/$a3d4daa2f1c0d45e6701.cache
project/target/config-classes/$b1c534b0a8ebc84a3017.cache
project/target/config-classes/$c1131030fd31139e5928.cache
project/target/config-classes/$c37eca76bd09eb320979.cache
project/target/config-classes/$e93beac408b0cd06d3e1.cache
project/target/scala-2.12/
project/target/streams/
spark-warehouse/
target/.history
target/scala-2.12/initialscalaspark_2.12-0.1.jar
target/scala-2.12/resolution-cache/
target/streams/
/generate/abc.csv
